accelerate
# diffusers
git+https://ghfast.top/https://github.com/huggingface/diffusers # to avoid https://github.com/huggingface/diffusers/issues/12436
ipykernel
gradio
matplotlib
opencv-python
protobuf
sentencepiece
transformers==4.52.4
datasets
deepspeed
peft
lightning
py360convert
